/******************************
    LISTE:

******************************/


/*----------------------------------------*/
/*  01 - Section Header
/*----------------------------------------*/

.text-info-liste{
    font-weight: bolder;
}

.form-select {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0;
    font-size: 14px;
}

/*----------------------------------------*/
/*      02 - job listing
/*----------------------------------------*/

.job-listing-block {
    background: #fff;
    padding: 40px 35px;
    padding-bottom: 25px;
    font-size: 14px;
    margin-bottom: 2px;
    border-bottom:5px solid  #edf0f58f;
}

.block-logo{
    margin-right: 35px;
}
.block-logo img{
    width: 60px;
    height: 60px;
}

.block-inner {
    flex: 1;
}

.block-job-name{
    margin-bottom: 10px;
}

.block-job-name span{
    display: inline-block;
    color: #F11D58;
    font-weight: 700;
    position: relative;
    margin-right: 20px;
}

.block-job-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-job-info li {
    margin-right: 13px;
    display: flex;
    align-items: center;
}

.block-job-info  li i {
    color: #F11D58;
    margin-right: 5px;
    font-size: 16px;
}

.block-job-contrat {
    color: #F11D58;
    font-weight: 900;
    font-size: 16px;
}

.fa-arrow{
    color: black;
}


.pagination .active>.page-link{
        background-color:#F11D58;
        color: white;
        border: transparent;
    }
