/******************************
   MAIN
******************************/

.section-lg {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #edf0f58f;
}


a {
    color: black;
    text-decoration: none;
}

.navbar-brand {
    color: #F11D58;
}

.nav-item .active{
    font-weight: 700;
    border-bottom: 2px solid #F11D58;
    padding-bottom: 0;
}
