/******************************
    LISTE:

    01 - Section Header
    02 - job listing
    03 - Counter
    04 - Blog
    05 - Testimonial
	06 - Client
	07 - Job Category
	08 - Job Block
	09 - Employee Block
	10 - Modal
	11 - Job Search
	12 - Job Progressbar
    13 - Header
    14 - Footer
    15 - Title Bar
    16 - Overlap Colomn
    17 - Progress Bar
    18 - Accordion
    19 - Circle Progress
    20 - List Gourp
    21 - Pricing-table
	22 - Tab
	23 - Static Box
	24 - Revolution

******************************/


/*----------------------------------------*/
/*  01 - Section Header
/*----------------------------------------*/

.text-info-liste{
    font-weight: bolder;
}

.form-select {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0;
    font-size: 14px;
}

/*----------------------------------------*/
/*      02 - job listing
/*----------------------------------------*/

.job-listing-block {
    background: #fff;
    padding: 40px 35px;
    padding-bottom: 25px;
    font-size: 14px;
    margin-bottom: 2px;
    border-bottom:5px solid  #edf0f58f;
}

.block-logo{
    margin-right: 35px;
}

.block-inner {
    flex: 1;
}

.block-job-name{
    margin-bottom: 10px;
}

.block-job-name span{
    display: inline-block;
    color: #4540df;
    font-weight: 700;
    position: relative;
    margin-right: 20px;
}

.block-job-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-job-info li {
    margin-right: 13px;
    display: flex;
    align-items: center;
}
.block-job-info  li i {
    color: #4540df;
    margin-right: 5px;
    font-size: 16px;
}